@model IEnumerable<Repository>
@{
    ViewData["Title"] = "SLIInc - Projects";
}

<div class="container-fluid">
    <div class="project-row">
        @foreach (var r in Model)
        {
            <div class="project-card">
                <div class="card-body">
                    <h5 class="card-title">@r.Name</h5>
                    <p class="card-text">@r.Description</p>
                    <a href=@r.HtmlUrl target="_blank" class="btn btn-primary">View on GitHub</a>
                </div>
            </div>
        }
    </div>
</div>
